@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100% }

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

.typewriter {
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    line-height: 2rem;
    animation: typing 5s both steps(18) infinite alternate, blink-caret .5s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 18ch;
    }
}

@keyframes blink-caret {
    50%{
        border-color: transparent;
    }
}