@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    line-height: 2rem;
    animation: typing 5s both steps(18) infinite alternate, blink-caret .5s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 18ch;
    }
}

@keyframes blink-caret {
    50%{
        border-color: transparent;
    }
}